<div class="abc">
    <%=link_to (gravatar_for comment.user), comment.user%>
    <span class="commentor">by-<%= comment.user.username%>: :
     <%= time_ago_in_words(comment.created_at) %> ago: :
    </span>
	<%= comment.content %>
</div>
	     
            
	              
	    
      


